{% extends 'base.html' %}
{% load static %}



{% block content %}
    <div class="section-padding-70">
        <div class="container">
            <div class="row custom-justify-content-center">
                <div class="col-11 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <header>
                        <h2>Password Reset Done</h2>
                    </header>
                    
                    <section class="login-wrapper margin-extra">
                        <div class="login-fields">               
                            <h4>Your password has been reset, you can now</h4>
                            <a class="btn btn-success text-white border-5" href="{% url 'user_login' %}">Login to your Account</a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}