{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h1>Simple Peer to Peer Webapp</h1>
            <p>
               A simple WebAPI endpoint is provided to facilitate WebSocket connections between frontend applications for real-time messaging.
                This resource allows cross-origin requests and supports peer-to-peer messaging in real time.
                Additionally, read receipts are included in the response.
                To use, simply register an account and login, select  a user and start chatting instantly.


            </p>
        </div>

    </div>
{% endblock content %}